#about-banner {
    margin: 100px 0px;
}

#about-banner .text {
    color: var(--theme-primary-color);

    text-align: center;

    padding: 20px 0px;
    font-size: 40px;
}

#about-banner .text p {
    font-size: 18px;
    text-align: center;

    text-indent: 0px;
}

#about-content {
    position: absolute;
    top: 120vh;
    left: 50%;
    transform: translateX(-50%);

    /* background: var(--theme-primary-color); */
    height: auto;
    width: 600px;

    text-align: center;
    padding: 60px;
}

body, html {
    background-image: url('/ref/pages/about/background.jpg') !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

section {
    background: none !important;
}

.white-section {
    background-color: var(--theme-primary-color) !important;
}

.transparent-section {
    color: var(--theme-primary-color);
    text-align: center;
    padding: 100px 0px;
}

.about-snipit {
    display: block;
    width: 100%;
    margin: 20px 0px;
}

.about-snipit td {
    text-align: center;
    width: 50%;
    height: 300px;
}

.about-snipit img {
    width: 300px;
    height: 300px;
    object-fit: cover;

    border-radius: 100%;
}