<header>
    <main class="header-content">
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about/">About</a>
                </li>
                <li>
                    <a href="/practicums/">Practicums</a>
                </li>
                <li>
                    <a href="/academics/">Academics</a>
                </li>
                <li>
                    <a href="/finances/">Finances</a>
                </li>
                <li>
                    <a title="SAGU WEBSITE" href="#SAGU">Apply</a>
                </li>
            </ul>
        </nav>
    </main>
</header>