header {
    /* Make parent relative for centering */
    background: var(--theme-header-color-dark);
    
    display: flex;
    align-content: center;
    justify-content: center;
    
    /* Size */
    height: var(--header-height);
    width: 100%;
    z-index: 100;
}

.header-blur {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
}

.header-transparent {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(0px) saturate(100%);
    transition: ease-in-out .3s;
}

/* Dark mode code - used by default */
.header-dark {
    background: var(--theme-header-color-dark);
    transition: ease-in-out .3s;
}

/* Code for light mode if needed */
.header-light{
    background: var(--theme-header-color-light);
    transition: ease-in-out .3s;
}

.header-content {
    position: relative;
    /* Size */
    width: 100%;
    padding: 0 10px;
}

nav {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

nav ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin: 0 20px;
    /* Removes a spacing glitch */
    font-size: 0;
}

nav li {
    /* Display items horizontaly */
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    /* Format Nav bar Text */
    text-decoration: none;
    color: var(--theme-nav-text);
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;

    /* Format Button */
    border-radius: 5px;

    /* Transformation */
    padding: 10px 15px;
    transition: .1s;
}

nav ul a:hover {
    color: var(--theme-nav-text-hover);
    opacity: 1;
}